
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // overflow: hidden;
}


.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


// .container{
//   width: 72%;
//   margin:0 auto;
//   // background-color: red;
 
// }